org.talend.mdm.core.storage.sql/src/test/resources/com/amalto/core/save/test75.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2006-2018 Talend Inc. - www.talend.com
  ~
  ~ This source code is available under agreement available at
  ~  %InstallDIR%\features\org.talend.rcp.branding.%PRODUCTNAME%\%PRODUCTNAME%license.txt
  ~
  ~ You should have received a copy of the agreement along with this program; if not, write to Talend SA 9 rue Pages
  ~ 92150 Suresnes, France
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema" />
    <xsd:complexType name="personMailAddressInfoType">
        <xsd:sequence minOccurs="0">
            <xsd:element minOccurs="0" name="mrMrs" type="mrMrsType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="title" type="titleType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="firstName" type="firstNameType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="lastName" type="lastNameType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="organisationMailAddressInfoType">
        <xsd:sequence minOccurs="0">
            <xsd:element minOccurs="0" name="organisationName" type="organisationNameType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="organisationNameAddOn1" type="organisationNameType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="mrMrs" type="mrMrsType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="firstName" type="firstNameType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="lastName" type="lastNameType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="addressInformationType">
        <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="1" minOccurs="0" name="addressLine1" type="addressLineType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="addressLine2" type="addressLineType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="street" type="streetType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="houseNumber" type="houseNumberType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="dwellingNumber" type="dwellingNumberType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="postOfficeBoxNumber" type="postOfficeBoxNumberType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="postOfficeBoxText" type="postOfficeBoxTextType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="locality" type="localityType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="town" type="townType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="swissZipCode" type="swissZipCodeType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="swissZipCodeAddOn" type="swissZipCodeAddOnType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="swissZipCodeId" type="swissZipCodeIdType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="foreignZipCode" type="foreignZipCodeType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="phoneNumber" type="phoneNumberType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="mobileNumber" type="mobilePhoneNumberType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="faxNumber" type="faxNumberType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="emailAddress" type="emailAddressType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="contactReference" type="contactReferenceType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="fkCountryTerritory" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey">countryTerritory/countryTerritoryId</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="organisationNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="mrMrsType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
            <xsd:enumeration value="3" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="titleType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="firstNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="lastNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="addressLineType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="150" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="streetType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="150" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="houseNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="dwellingNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="postOfficeBoxNumberType">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:maxInclusive value="99999999" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="postOfficeBoxTextType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="swissZipCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
            <xsd:minLength value="4" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="swissZipCodeAddOnType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="swissZipCodeIdType">
        <xsd:restriction base="xsd:int" />
    </xsd:simpleType>
    <xsd:simpleType name="foreignZipCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="localityType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="townType">
        <xsd:restriction base="xsd:string"></xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="countryIdType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1000" />
            <xsd:maxInclusive value="9999" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="countryIdIso2Type">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2" />
            <xsd:minLength value="2" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="countryNameShortType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="organisation">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="organisationId" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="isn" type="isnType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="activeCode" type="activeCodeType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="adrId" type="adrIdType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="organisationNameId" type="organisationNameIdType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ijInstitutionCode" type="ijInstitutionCodeType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="internetAddress" type="internetAddressType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="sedexId" type="sedexIdType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="comment" type="commentType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="creationNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="changeNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="fkOrganisationTypes" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">organisationType/organisationTypeId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="fkAddresses" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">address/addressId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkServices" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">service/serviceId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkReplacedBy" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisation/organisationId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkHeadQuarter" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisation/organisationId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="organisation">
            <xsd:selector xpath="." />
            <xsd:field xpath="organisationId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="service">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceId" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="serviceName" type="serviceNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="phoneNumber" type="phoneNumberType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="emailAddress" type="emailAddressType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="creationNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="changeNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkOrganisationTypes" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisationType/organisationTypeId</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkAddresses" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">address/addressId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="service">
            <xsd:selector xpath="." />
            <xsd:field xpath="serviceId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="insured">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="insuredId" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="paymentType" type="payementTypeType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="navs13" type="navs13Type">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="firstName" type="firstNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="lastName" type="lastNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="creationNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="changeNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="fkAddresses" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">address/addressId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="fkIjBeneficiary" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisation/organisationId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="4" minOccurs="0" name="fkThirdParty" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisation/organisationId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="insured">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="address">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="addressId" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="addressType" type="addressTypeType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="organisation" type="organisationMailAddressInfoType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="person" type="personMailAddressInfoType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="banking" type="bankingMailAddressInfoType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="addressInformation" type="addressInformationType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="creationNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="changeNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="address">
            <xsd:selector xpath="." />
            <xsd:field xpath="addressId" />
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="AUTO_INCREMENT">
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
    <xsd:element name="organisationType">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="organisationTypeId" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="type" type="typeType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="comment" type="commentType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="organisationType">
            <xsd:selector xpath="." />
            <xsd:field xpath="organisationTypeId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="bankingMailAddressInfoType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="accountName" type="accountNameType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="accountNameAddOn1" type="accountNameAddOn1Type">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="bankName" type="bankNameType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="bankNameAddOn1" type="bankNameAddOn1Type">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="iban" type="ibanType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="accountNumber" type="accountNumberType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="bic" type="bicType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="clearing" type="clearingType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="countryTerritory">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="countryTerritoryId" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="entryValid" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ofasCode" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ofsCode" type="countryIdType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="cdcCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="iso2Code" type="countryIdIso2Type">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="iso3Code" type="countryIdIso3Type">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="shortNameFr" type="countryNameShortType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="shortNameDe" type="countryNameShortType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="shortNameIt" type="countryNameShortType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="creationNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="changeNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkSovereignCountry" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">countryTerritory/countryTerritoryId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkPayment" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">countryPayment/countryPaymentId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="countryTerritory">
            <xsd:selector xpath="." />
            <xsd:field xpath="countryTerritoryId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="addressLookup">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="addressLookupId" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="iso2Code" type="countryIdIso2Type">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="countryName" type="countryNameShortType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="languageCode" type="languageCodeType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="town" type="townType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="zipCode" type="foreignZipCodeType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="locality" type="localityType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="addressLookup">
            <xsd:selector xpath="." />
            <xsd:field xpath="addressLookupId" />
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="emailAddressType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="addressTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="creationNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="changeNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="countryIdIso3Type">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3" />
            <xsd:maxLength value="3" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="zipFormatType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="zipRegExType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="currencyIsoType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="languageCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="payementTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="homePaymentTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="bankingTransfertType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="navs13Type">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="activeCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="adrIdType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="36" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="organisationNameIdType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ijInstitutionCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="phoneNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
            <xsd:whiteSpace value="collapse" />
            <xsd:pattern value="\d{8,20}" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="faxNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
            <xsd:whiteSpace value="collapse" />
            <xsd:pattern value="\d{8,20}" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="internetAddressType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="sedexIdType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="commentType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="serviceNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="accountNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="accountNameAddOn1Type">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="bankNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="bankNameAddOn1Type">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ibanType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="34" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="accountNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="34" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="bicType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="clearingType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="countryPayment">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="countryPaymentId" type="AUTO_INCREMENT" />
                <xsd:element maxOccurs="1" minOccurs="0" name="isoCurrencyHome" type="isoCurrencyType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="isoCurrencyBank" type="isoCurrencyType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="homePaymentAllowed" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="bankPaymentAllowed" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="creationNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="changeNameType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="countryPayment">
            <xsd:selector xpath="." />
            <xsd:field xpath="countryPaymentId" />
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="isoCurrencyType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="isnType">
        <xsd:restriction base="xsd:double">
            <xsd:maxInclusive value="9.99999999999E11" />
            <xsd:minInclusive value="1.0" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="mobilePhoneNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
            <xsd:whiteSpace value="collapse" />
            <xsd:pattern value="\d{10,20}" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="contactReferenceType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>