org.talend.mdm.core/test/com/amalto/core/history/accessor/record/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema" />
    <xsd:complexType name="personMailAddressInfoType">
        <xsd:sequence minOccurs="0">
            <xsd:element minOccurs="0" name="mrMrs" type="xsd:string" />
            <xsd:element minOccurs="0" name="title" type="xsd:string" />
            <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
            <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="organisationMailAddressInfoType">
        <xsd:sequence minOccurs="0">
            <xsd:element minOccurs="0" name="organisationName" type="xsd:string" />
            <xsd:element minOccurs="0" name="organisationNameAddOn1" type="xsd:string" />
            <xsd:element minOccurs="0" name="mrMrs" type="xsd:string" />
            <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
            <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="addressInformationType">
        <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="1" minOccurs="0" name="addressLine1" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="addressLine2" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="street" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="houseNumber" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="dwellingNumber" type="xsd:string" />
            <xsd:element minOccurs="0" name="postOfficeBoxNumber" type="xsd:unsignedInt" />
            <xsd:element minOccurs="0" name="postOfficeBoxText" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="locality" type="xsd:string" />
            <xsd:element minOccurs="0" name="town" type="xsd:string" />
            <xsd:element minOccurs="0" name="swissZipCode" type="xsd:string" />
            <xsd:element minOccurs="0" name="swissZipCodeAddOn" type="xsd:string" />
            <xsd:element minOccurs="0" name="swissZipCodeId" type="xsd:string" />
            <xsd:element minOccurs="0" name="foreignZipCode" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="mobileNumber" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="faxNumber" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="emailAddress" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="contactReference" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="fkCountryTerritory" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">countryTerritory/countryTerritoryId</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="organisation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="organisationId" type="AUTO_INCREMENT" />
                <xsd:element maxOccurs="1" minOccurs="0" name="isn" type="xsd:double" />
                <xsd:element maxOccurs="1" minOccurs="0" name="activeCode" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="adrId" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="organisationNameId" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="ijInstitutionCode" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="internetAddress" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="sedexId" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="comment" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean" />
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="fkOrganisationTypes" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisationType/organisationTypeId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="fkAddresses" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">address/addressId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="fkServices" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">service/serviceId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkReplacedBy" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisation/organisationId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkHeadQuarter" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisation/organisationId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="organisation">
            <xsd:selector xpath="." />
            <xsd:field xpath="organisationId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceId" type="AUTO_INCREMENT" />
                <xsd:element maxOccurs="1" minOccurs="0" name="serviceName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="emailAddress" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean" />
                <xsd:element maxOccurs="1" minOccurs="0" name="fkOrganisationTypes" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">organisationType/organisationTypeId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="fkAddresses" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">address/addressId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="service">
            <xsd:selector xpath="." />
            <xsd:field xpath="serviceId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="address">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="addressId" type="AUTO_INCREMENT" />
                <xsd:element maxOccurs="1" minOccurs="0" name="addressType" type="xsd:string" />
                <xsd:element minOccurs="0" name="organisation" type="organisationMailAddressInfoType" />
                <xsd:element minOccurs="0" name="person" type="personMailAddressInfoType" />
                <xsd:element maxOccurs="1" minOccurs="0" name="banking" type="bankingMailAddressInfoType" />
                <xsd:element maxOccurs="1" minOccurs="0" name="addressInformation" type="addressInformationType" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean" />
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="address">
            <xsd:selector xpath="." />
            <xsd:field xpath="addressId" />
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="AUTO_INCREMENT">
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
    <xsd:element name="organisationType">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="organisationTypeId" type="AUTO_INCREMENT" />
                <xsd:element maxOccurs="1" minOccurs="0" name="type" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="comment" type="xsd:string" />
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="organisationType">
            <xsd:selector xpath="." />
            <xsd:field xpath="organisationTypeId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="bankingMailAddressInfoType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="accountName" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="accountNameAddOn1" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="bankName" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="bankNameAddOn1" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="iban" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="accountNumber" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="bic" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="clearing" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="countryTerritory">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="countryTerritoryId" type="AUTO_INCREMENT" />
                <xsd:element maxOccurs="1" minOccurs="0" name="entryValid" type="xsd:boolean" />
                <xsd:element maxOccurs="1" minOccurs="0" name="ofasCode" type="xsd:integer" />
                <xsd:element maxOccurs="1" minOccurs="0" name="ofsCode" type="xsd:integer" />
                <xsd:element maxOccurs="1" minOccurs="0" name="cdcCode" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="iso2Code" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="iso3Code" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="shortNameFr" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="shortNameDe" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="shortNameIt" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean" />
                <xsd:element maxOccurs="1" minOccurs="0" name="fkSovereignCountry" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">countryTerritory/countryTerritoryId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="fkPayment" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">countryPayment/countryPaymentId</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="countryTerritory">
            <xsd:selector xpath="." />
            <xsd:field xpath="countryTerritoryId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="addressLookup">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="addressLookupId" type="AUTO_INCREMENT" />
                <xsd:element maxOccurs="1" minOccurs="1" name="iso2Code" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="countryName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="languageCode" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="town" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="zipCode" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="locality" type="xsd:string" />
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="addressLookup">
            <xsd:selector xpath="." />
            <xsd:field xpath="addressLookupId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="countryPayment">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="countryPaymentId" type="AUTO_INCREMENT" />
                <xsd:element maxOccurs="1" minOccurs="0" name="isoCurrencyHome" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="isoCurrencyBank" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="homePaymentAllowed" type="xsd:boolean" />
                <xsd:element maxOccurs="1" minOccurs="0" name="bankPaymentAllowed" type="xsd:boolean" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeDate" type="xsd:dateTime" />
                <xsd:element maxOccurs="1" minOccurs="1" name="changeName" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:boolean" />
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="countryPayment">
            <xsd:selector xpath="." />
            <xsd:field xpath="countryPaymentId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType abstract="true" name="auditAbsType">
        <xsd:complexContent>
            <xsd:extension base="technicalAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="creationDate" type="xsd:dateTime" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="creationName" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="changeDate" type="xsd:dateTime" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="changeName" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="insuredType">
        <xsd:complexContent>
            <xsd:extension base="auditAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="avs" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="lastName" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="firstName" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkAddressResidence" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressResidence/insuredAddressResidenceId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkAddressCorrespondenceMain" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressCorrespondenceMain/insuredAddressCorrespondenceMainId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkAddressCorrespondenceAF" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressCorrespondenceAF/insuredAddressCorrespondenceAFId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkAddressCorrespondenceOAIE" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressCorrespondenceOAIE/insuredAddressCorrespondenceOAIEId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkAddressAttorneyMain" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressAttorneyMain/insuredAddressAttorneyMainId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkAddressAttorneyAF" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressAttorneyAF/insuredAddressAttorneyAFId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkAddressAttorneyOAIE" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressAttorneyOAIE/insuredAddressAttorneyOAIEId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkAddressCervie" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressCervie/insuredAddressCervieId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="fkAddressThirdParty" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredAddressThirdParty/insuredAddressThirdPartyId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkPaymentBenefit" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredPaymentBenefit/insuredPaymentBenefitId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fkPaymentRefundAF" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">insuredPaymentRefundAF/insuredPaymentRefundAFId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="insuredAddressResidenceType">
        <xsd:complexContent>
            <xsd:extension base="addressNumericAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressResidenceId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressResidence" type="addressPersonType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="insuredAddressCorrespondenceMainType">
        <xsd:complexContent>
            <xsd:extension base="addressNumericAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressCorrespondenceMainId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressCorrespondenceMain" type="addressBaseAbsType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="insuredAddressCervieType">
        <xsd:complexContent>
            <xsd:extension base="addressNumericAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressCervieId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressCervie" type="addressPersonType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="insuredAddressThirdPartyType">
        <xsd:complexContent>
            <xsd:extension base="validityAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressThirdPartyId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="fkOrganisation" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">organisation/organisationId</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="insuredAddressAttorneyMainType">
        <xsd:complexContent>
            <xsd:extension base="addressNumericAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressAttorneyMainId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressAttorneyMain" type="addressBaseAbsType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="insuredPaymentBenefitType">
        <xsd:complexContent>
            <xsd:extension base="paymentBaseAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredPaymentBenefitId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="paymentBenefitType" type="paymentTypeAbsType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="insuredPaymentRefundAFType">
        <xsd:complexContent>
            <xsd:extension base="paymentBaseAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredPaymentRefundAFId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="paymentRefundAFType" type="paymentTypeAbsType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="validityAbsType">
        <xsd:complexContent>
            <xsd:extension base="auditAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="startDateValidity" type="xsd:date" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="endDateValidity" type="xsd:date" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="deleted" type="xsd:boolean" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="addressNumericAbsType">
        <xsd:complexContent>
            <xsd:extension base="validityAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="mobileNumber" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="faxNumber" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="addressBaseAbsType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="addressLine1" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="addressLine2" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="street" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="houseNumber" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="dwellingNumber" type="xsd:string" />
            <xsd:element minOccurs="0" name="postOfficeBoxNumber" type="xsd:unsignedInt" />
            <xsd:element minOccurs="0" name="postOfficeBoxText" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="locality" type="xsd:string" />
            <xsd:element minOccurs="0" name="town" type="xsd:string" />
            <xsd:element minOccurs="0" name="swissZipCode" type="xsd:string" />
            <xsd:element minOccurs="0" name="swissZipCodeAddOn" type="xsd:string" />
            <xsd:element minOccurs="0" name="swissZipCodeId" type="xsd:string" />
            <xsd:element minOccurs="0" name="foreignZipCode" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="0" name="fkCountryTerritory" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="insuredAddressResidence" type="insuredAddressResidenceType">
        <xsd:unique name="insuredAddressResidence">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressResidenceId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="insuredAddressCorrespondenceOAIE" type="insuredAddressCorrespondenceOAIEType">
        <xsd:unique name="insuredAddressCorrespondenceOAIE">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressCorrespondenceOAIEId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="insuredAddressCervie" type="insuredAddressCervieType">
        <xsd:unique name="insuredAddressCervie">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressCervieId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="insuredAddressAttorneyMain" type="insuredAddressAttorneyMainType">
        <xsd:unique name="insuredAddressAttorneyMain">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressAttorneyMainId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="insuredAddressThirdParty" type="insuredAddressThirdPartyType">
        <xsd:unique name="insuredAddressThirdParty">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressThirdPartyId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="insured" type="insuredType">
        <xsd:unique name="insured">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType abstract="false" name="addressPersonType">
        <xsd:complexContent>
            <xsd:extension base="addressBaseAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="mrMrs" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="firstName" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="lastName" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="false" name="addressOrganisationType">
        <xsd:complexContent>
            <xsd:extension base="addressBaseAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="organisationName" type="xsd:string" />
                    <xsd:element minOccurs="0" name="organisationNameAddOn1" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="organisationMrMrs" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="organisationFirstName" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="organisationLastName" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="paymentTypeAbsType">
        <xsd:sequence />
    </xsd:complexType>
    <xsd:complexType name="paymentCashType">
        <xsd:complexContent>
            <xsd:extension base="paymentTypeAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="dummy" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="paymentTransferType">
        <xsd:complexContent>
            <xsd:extension base="paymentTypeAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="iban" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="accountNumber" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressBanking" type="addressBankingType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="insuredPaymentBenefit" type="insuredPaymentBenefitType">
        <xsd:unique name="insuredPaymentBenefit">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredPaymentBenefitId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="insuredPaymentRefundAF" type="insuredPaymentRefundAFType">
        <xsd:unique name="insuredPaymentRefundAF">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredPaymentRefundAFId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="addressBankingType">
        <xsd:complexContent>
            <xsd:extension base="addressBaseAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="bankName" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="bankNameAddOn1" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="bic" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="clearing" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="paymentBaseAbsType">
        <xsd:complexContent>
            <xsd:extension base="validityAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="recipient" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="addressPaymentBeneficiary" type="addressPaymentBeneficiaryType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="insuredAddressCorrespondenceMain" type="insuredAddressCorrespondenceMainType">
        <xsd:unique name="insuredAddressCorrespondenceMain">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressCorrespondenceMainId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="insuredAddressCorrespondenceOAIEType">
        <xsd:complexContent>
            <xsd:extension base="addressNumericAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressCorrespondenceOAIEId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressCorrespondenceOAIE" type="addressBaseAbsType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="insuredAddressCorrespondenceAFType">
        <xsd:complexContent>
            <xsd:extension base="addressNumericAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressCorrespondenceAFId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressCorrespondenceAF" type="addressBaseAbsType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="insuredAddressCorrespondenceAF" type="insuredAddressCorrespondenceAFType">
        <xsd:unique name="insuredAddressCorrespondenceAF">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressCorrespondenceAFId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="insuredAddressAttorneyOAIEType">
        <xsd:complexContent>
            <xsd:extension base="addressNumericAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressAttorneyOAIEId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="contactReference" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressAttorneyOAIE" type="addressBaseAbsType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="insuredAddressAttorneyOAIE" type="insuredAddressAttorneyOAIEType">
        <xsd:unique name="insuredAddressAttorneyOAIE">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressAttorneyOAIEId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="insuredAddressAttorneyAFType">
        <xsd:complexContent>
            <xsd:extension base="addressNumericAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="insuredAddressAttorneyAFId" type="AUTO_INCREMENT" />
                    <xsd:element maxOccurs="1" minOccurs="1" name="addressAttorneyAF" type="addressBaseAbsType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="insuredAddressAttorneyAF" type="insuredAddressAttorneyAFType">
        <xsd:unique name="insuredAddressAttorneyAF">
            <xsd:selector xpath="." />
            <xsd:field xpath="insuredAddressAttorneyAFId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="addressPaymentBeneficiaryType">
        <xsd:complexContent>
            <xsd:extension base="addressBaseAbsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="beneficiaryName" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="beneficiaryNameAddOn1" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="technicalAbsType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="tempId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="addressPersonOrOrganisationAbsType">
        <xsd:complexContent>
            <xsd:extension base="addressBaseAbsType">
                <xsd:sequence />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>